.cardBox {
    padding: 0;
    /* width: 280px; */
    height: auto;
    border-radius: 25px;
    margin: 0 auto;
}

.image {
    height: 172px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 25px 0 0 !important;
    /* 不這樣的話完全改不了 Card 的 border-radius */
}

.nameBox {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.img {
    border: 2px solid #FFA1B8;
    margin-right: 0;
    width: 100%;
}

.numTag {
    position: absolute;
    right: 12px;
    top: 11px;
    padding: 0 10px;
    border: 2px solid #FFA1B8;
    color: #FFA1B8;
    background: #F7F9FC;
}
