.box {
    height: auto;
    width: 100%;
    margin: 20px 0;
}

.cardBox {
    padding: 15px 20px;
    border: 2px solid #FFA1B8;
    border-radius: 30px;
    height: 100%;
}

.iconBox {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
}

.img {
    border: 2px solid #FFA1B8;
    margin-right: 0;
}

.infoBox {
    width: 100%;
}

.textName {
    text-align: center;
    white-space: normal;
    margin: 0;
    margin-bottom: 5px;
}

.textIntro {
    width: 100%;
    white-space: normal;
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .cardBox {
        padding: 20px 40px;
    }

    .iconBox {
        margin-right: 30px;
        margin-bottom: 0px;
    }

    .infoBox {
        flex: 1;
        width: auto;
    }
}

@media (min-width: 768px) {
    .box {
        padding: 20px 40px;
    }
}