.content{
    height: fit-content;
    margin-top: 50px;
}

.leftBox{
    /* padding-left: 120px; */
    display: flex;
    
}

.leftImg{
    height: 144px;
    width: 144px;
}

.actTxv{
    margin-top: 10px;
    margin-bottom: 20px;
}

.leftTxv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* margin-right: 120px;
    margin-left: 30px; */
}

.back{
    border: 3px solid;
    border-radius: 100%;
    padding: 3px;
    color: #FFA1B8;
    height: 42px;
    width: 42px;
    margin-top: 20px;
    margin-bottom: 30px;
}

@media (min-width: 992px) {

    .content {
        /* width: 400px; */
        height: 600px;
        margin-top: 50px;
    }
    .leftTxv{
        justify-content: end;
    }

    .back{

        margin-top: 10px;
        margin-bottom: 10px;
    }
}
