.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
}

.boothName{
    margin-bottom: 8px;
}

.eventName{
    color: #5E6B78;
    padding-right: 20px;
}