.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardBox {
    width: auto;
    height: auto;
    margin: 0 auto
}

.navBox {
    height: 40px;
    display: flex;
    align-items: center;

}

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}