.bannerBox {
    position: relative;
    width: 100vw;
    height: 275px;
}

.banner {
    width: 100vw;
    height: 275px;
    /* ^ 我覺得 425px 有點太多了我先改掉 */
    object-fit: cover;
    object-position: top;
    /* position: relative; */
    z-index: -1;
}

.shade {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(75, 75, 75, 0) 25%, rgba(0, 0, 0, .35) 100%);
}

.tabBox {
    width: 100%;
}

.tabOuterLink {
    height: 50px;
    margin: -12px 0;
    /* ^ 解決設定成 disabled 時會出現無法改掉的 antd 的 cursor: not-allowed */
    display: flex;
    align-items: center;
    color: #777777;
    cursor: pointer;
}

.ant-tabs-tab .ant-tabs-tab-disabled {
    cursor: none !important;
    padding: 0 !important;
}

.ant-tabs-tab-disabled {
    cursor: none !important;
    padding: 0 !important;
}

.tabOuterLink:hover {
    /* color: rgba(255, 161, 184, 0.6); */
    color: #000000
}

.tabOuterLinkText {
    margin-right: 5px;
}




.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}