.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftBox {
    display: flex;
    align-items: center;
}

.drawerBtn {
    margin-right: 1rem;
    color: #0495FF;
}

/* md */
@media (min-width: 768px) {
    .box {
        display: none;
    }
}

.logo {
    height: 42px;
    width: auto;
    margin: 6px 0;
}

.logoLink {
    margin-right: 4rem;
}