.container{
    background-color: #E6EAEF;
    /* opacity: 0.6; */
}

.box{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.upsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

/*text*/

.title{
    letter-spacing: 0.2em;
    margin-top: 40px;
    color: #1F2933;
    margin-top: 50px;
}

.txv{
    color: #1F2933;
    margin-bottom: 50px;
}

/**/

