.txvTitle{
    display: flex;
    justify-content: center;
}

.txvIndex{
    display: flex;
    justify-content: center;
    color: #667080;
    margin-bottom: 30px;
    margin-top: 10px;
}

.qaclollapse{
    margin-bottom: 70px;
    background: rgba(4, 149, 255, 0.1);
}

.txvCollapse{
    margin: 10px 15px;
}