
.box{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    padding: 0;
    width: 280px;
    height: auto;
    /* border-color: aqua; */
    border-radius: 25px;
}
.image{
    height: 172px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 25px 0 0 !important;
}

.info{
    padding: 1.2rem;
}

.Stxv{
    /* composes: h2; */
    color: #667080;
}

.Xtxv{
    /* composes: h2; */
    color: #1F2933;
}