.box {
    pointer-events: auto;
}

.cardBox {
    padding: 0;
    /* width: 280px; */
    height: auto;
    border-radius: 25px;
    cursor: pointer;
}

.cardBoxL {
    display: none;
    max-width: 987px;
    max-height: 530px;
    width: 70vw !important;
    height: 44vh !important;
    border-radius: 25px;
}

.cardBoxLS {
    width: 280px;
}

@media (min-width: 768px) {
    .cardBoxL {
        display: flex;
    }

    .cardBoxLS {
        display: none;
    }
}


.image {
    height: 172px;
    width: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 25px 0 0 !important;
    /* 不這樣的話完全改不了 Card 的 border-radius */
}

.imageL {
    width: 30vw;
    height: 44vh;

    object-fit: cover;
    object-position: center;
    border-radius: 25px 0 0 25px !important;
    /* ^ 不這樣的話完全改不了 Card 的 border-radius */
}

.date {
    color: #667080;
}

.title {
    color: #1F2933;
}