.box {
    display: none;
}

@media (min-width: 768px) {
    .box {
        display: flex;
        align-items: center;
    }
}

.logo {
    height: 50px;
    width: auto;
    margin: 6px 0;
}

.logoLink {
    margin-right: 4rem;
}

.menu {
    min-width: 0;
    flex: auto;
    /* ^ 讓 menu 在 RWD 可以收起來 */
    background-color: transparent;
}

li::after {
    border-bottom-width: 0px !important;
    background-color: transparent !important;
}

/* ^ 移除 menu 的底線 */