.paneltxv{
    margin: 0px 10px;
    margin-bottom: 10px;
}

.editBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    border: 1px solid #FFA1B8;
    border-radius: 20px;

}

.editTxv{
    color: #FFA1B8;
    margin: 5px 10px;
}