/* Global Style */

body {
  font-size: 16px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
}

/* RWD Container */

.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

/* sm */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

/* lg */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* xl */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* xxl */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

/* Grid Layout */

.pagecontainer {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

.mainLayout {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
}

.layoutHeader {
  grid-area: header;
  height: auto;
}

.layoutContent {
  grid-area: content;
}

.layoutFooter {
  grid-area: footer;
}