.H{ /*all*/
    position: relative;
}

.HImg{ /*img*/
    height: 787px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -500px;
}

.CImg{
    width: 100vw;
    height: 425px;
    object-fit: cover;
    object-position: center;
}

.Htxv{ /*section*/
    position: fixed;
    margin-top: -100px;
    position: absolute;
    top: 216px;
    left: 150px;
}

.HLogo{ /*img*/
    margin-left: -20px;
    height: 80px;
    width: 280px;
}

/*btn*/

.btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rgsbtn{
    border-radius: 100px;
    background: linear-gradient(90deg, #FFA1B8 0%, #0495FF 100%);
    color: #fff;
    width: 154px;
    height: 44px;
    font-size: 17px;
    margin-right: 10px;
}

.howbtn{
    border: 3px #0495FF solid;
    color: #0495FF;
    border-radius: 100px;
    width: 154px;
    height: 44px;
    font-size: 17px;
}

/*txv*/

.Hxv_intro{
    font-size: 2rem;
    -webkit-text-stroke: 0.5px #fff;
}

@media screen and (min-width: 578px){
    .HImg{
        height: 728px;
        width: 100%;
        margin: 0px;
    }
    
    .HLogo{
        margin-left: -20px;
    }

    .Hxv_intro{
        font-size: 3rem;
        -webkit-text-stroke: 0.3px #fff;
    }

    .rgsbtn{
        border-radius: 100px;
        background: linear-gradient(90deg, #FFA1B8 0%, #0495FF 100%);
        color: #fff;
        width: 224px;
        height: 66px;
        font-size: 24px;
    }
    
    .howbtn{
        border: 3px #0495FF solid;
        color: #0495FF;
        border-radius: 100px;
        width: 224px;
        height: 66px;
        font-size: 24px;
    }
    .btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }
    
}
